################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo4Pipeline.TEST/bin/Debug/netcoreapp2.2
/Demo4Pipeline.TEST/obj
